* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(217deg, rgba(255,255,255,.8), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgba(51,144,236,.8), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box {
    background-image: url("../images/logindark.webp");
    border-radius: 20px;
    width: 500px;
    height: 600px;
}

.loginmini {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    flex-wrap: wrap;
}

.login-title {
    font-weight: 300;
    text-align: center;
    font-size: 70px;
    padding-top: 120px;
    width: 400px;
    margin-left: 50px;
    color: white;
}

.login-code-title {
    font-weight: 300;
    text-align: center;
    font-size: 55px;
    padding-top: 100px;
    width: 400px;
    margin-left: 50px;
    color: white;
}

.login-code-text {
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    width: 400px;
    margin-left: 50px;
    color: rgb(177, 177, 177);
}

.code-input {
    background-color: white;
    outline: none;
    border: none;
    font-size: 30px;
    width: 300px;
    margin-left: 80px;
    padding: 20px;
    margin-top: 70px;
    border-radius: 20px;
}

.login-email {
    background-color: white;
    outline: none;
    border: none;
    font-size: 30px;
    width: 300px;
    margin-left: 80px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
}

.code-button {
    margin-top: 80px;
    font-size: 30px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 175px;
    transition: all 0.5s ease;
}

.code-button:hover {
    color: white;
    background: linear-gradient(217deg, rgba(255,255,255,.8), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgba(51,144,236,.8), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    cursor: pointer;
}

.login-button {
    margin-top: 60px;
    font-size: 30px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 175px;
    transition: all 0.5s ease;
}

.login-button:hover {
    color: white;
    background: linear-gradient(217deg, rgba(255,255,255,.8), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgba(51,144,236,.8), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    cursor: pointer;
}

.loginfailed {
    display: none;
    backdrop-filter: blur(100px);
    animation: 0.5s login_failed ease;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

@keyframes login_failed {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logincode {
    display: none;
    backdrop-filter: blur(100px);
    animation: 0.5s login_code ease;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

@keyframes login_code {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loginaccept {
    display: none;
    backdrop-filter: blur(100px);
    animation: 0.5s login_success ease;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

@keyframes login_success {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.retry-button {
    margin-top: 60px;
    font-size: 30px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 175px;
    transition: all 0.5s ease;
}

.retry-button:hover {
    color: red;
    cursor: pointer;        
}












.lds-roller {
    display: inline-block;
    position: relative;
    margin-left: 210px;
    margin-top: 50px;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  